.cart_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
  text-align: center;
}
.cart_container {
  margin-bottom: 100px;
  height: auto;
}
.cart_container > h2 {
  margin: 20px 0;
}
.cart_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}
.cart_table th {
  font-weight: bold;
  padding: 10px 30px;
  border-bottom: 2px solid #ddd;
}

.cart_table td {
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
}

.cart_row:hover {
  background-color: #f5f5f5;
}
.cart_table td:nth-child(5) > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cart_table td:nth-child(5) > section > button {
  cursor: pointer;
  border-radius: 30px;
  height: 27px;
  width: 27px;
  border: none;
}
.cart_table td:nth-child(5) > section > button:nth-child(1) {
  margin-right: 10px;
}
.cart_table td:nth-child(5) > section > button:nth-child(3) {
  margin-left: 10px;
}
.cart_table td:nth-child(7) > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.cart_container > button {
  padding: 10px 15px 10px 15px;
  margin-top: 30px;
  background: black;
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .cart_block {
    max-width: 400px;
    margin: 0 auto;
  }
  .cart_block {
    min-height: initial;
    height: calc(100vh - 100px);
    overflow: hidden;
  }
  .cart_table th,
  .cart_table td {
    padding: 10px 15px;
    border: none;
    width: auto;
  }
  .cart_table td:nth-child(5) > section > button {
    height: 32px;
    width: 32px;
  }
  .cart_table td:nth-child(5) > section > button:nth-child(1),
  .cart_table td:nth-child(5) > section > button:nth-child(3),
  .cart_table td:nth-child(7) > img {
    margin: 0 5px;
  }
  .cart_table td:nth-child(2) > a {
    font-size: 18px;
    margin: 0;
  }
  .cart_container > button {
    padding: 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) and (min-width: 360px) {
  .cart_block{
    position: relative;
    overflow-x: hidden;
  }
  .cart_container {
    margin-bottom: 100px;
    height: auto;
    padding: 0 5px;
  }
  .cart_table th {
    padding: 5px 5px;
    font-size: 10px;
  }
  .cart_table td {
    padding: 5px 5px;
    font-size: 10px;
  }
  .cart_table td:nth-child(5) > section > button {
    height: 15px;
    width: 15px;
  }
  .cart_table td:nth-child(7) > img {
    width: 15px;
    height: 15px;
  }
  .cart_container > button {
    font-size: 14px;
    padding: 8px 12px;
  }
}
