.loading {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0px 30px 30px;
}
.loading_container {
  border: 1px dashed #aaa;
  background: linear-gradient(
    90deg,
    rgba(221, 221, 221, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px;
  height: 300px;
  width: 375px;
  margin-right: 20px;
}
.loading_line {
  display: block;
  width: 60%;
  height: 20px;
  margin: 10px;
  border-radius: 4px;
  background: #f0f0f0;
}
