.modal_active {
  position: fixed;
  inset: 0;
  z-index: 1040;
  overflow-y: hidden;
  background-color: rgba(104, 103, 103, 0.4);
  backdrop-filter: blur(15px);
}
.modal_block {
  height: 550px;
  margin: 60px 300px 0px 300px;
  background: white;
  border-radius: 10px;
}
.modal_block > h3 {
  padding-top: 20px;
}
.modal_block > form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.modal_block > form > label,
.modal_block > form > fieldset {
  margin-top: 10px;
}
.modal_block > form > label > p,
.modal_block > form > fieldset > legend {
  padding-bottom: 5px;
  font-weight: bold;
}
.modal_block > form > fieldset {
  border: 0 none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.modal_block > form > fieldset > div > input {
  margin-right: 5px;
  cursor: pointer;
}
.modal_block > form > fieldset > div:nth-child(2) > label {
  margin-right: 20px;
}
.modal_block > form > fieldset > div:nth-child(3) > input {
  margin-left: 20px;
}
.modal_block > form > label > input {
  padding: 10px;
  margin: 10px 10x;
  border-radius: 10px;
}
.modal_hidden {
  display: none;
}
.submit > input {
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}
.submit > input:hover {
  background-color: blue;
}

.modal_close {
  position: absolute;
  top: 15px;
  right: 25px;
  padding: 0;
  font-weight: 300;
  font-size: 50px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
}
.modal_message {
  display: flex;
  justify-content: space-between;
  margin: 10px 200px 0 200px;
  padding: 5px 15px;
  background-color: red;
  color: white;
  border-radius: 10px;
}
.modal_message > button {
  margin: 3px 0 0 0;
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.modal_message_hidden {
  display: none;
}
@media screen and (max-width: 767px) and (min-width: 360px) {
  .modal_block {
    height: 550px;
    margin: 20px 10px 0px 10px;
    background: white;
    border-radius: 10px;
  }
  .modal_block > h3 {
    padding-top: 40px;
  }
  .modal_message {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 70px;
    padding: 5px 15px;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 200px;
  }
}

